<nav class="col-12 col-md-4 col-lg-3" tabindex="0">
    <a href="#identite" title="Mon profil" class="cache" (click)="onClickLink($event)">
        <img id="photo-identite" src="assets/cv/profil.jpg" alt="Photo de profil" />
    </a>

    <a id="menu" href="#menu" class="cache-md">
        <img src="assets/cv/bars-solid.svg" alt="Menu" />
        <span id="current-section" class="active">Catégorie en cours</span>
    </a>
    
    <div>
        <ul>
            <li>
                <a href="#identite" title="Mon profil" (click)="onClickLink($event)">Mon profil</a>
            </li>

            <li *ngFor="let categorie of categories">
                <a href="#{{categorie.libelle | slug}}" [title]="categorie.libelle" (click)="onClickLink($event,categorie)">{{categorie.libelle}}</a>

                <ul *ngIf="categorie.enfants">
                    <li *ngFor="let enfant of categorie.enfants">
                        <a href="#{{enfant.libelle | slug}}" [title]="enfant.libelle" (click)="onClickLink($event,enfant)">{{enfant.libelle}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>