<li *ngIf="!ligne.image">
    
    <span *ngIf="ligne.dateDebut && ligne.onlyYear" class="date">{{ligne.dateDebut | date:'yyyy'}}<span *ngIf="ligne.dateFin"> - {{ligne.dateFin | date:'yyyy'}}</span></span>
    <span *ngIf="ligne.dateDebut && !ligne.onlyYear" class="date">{{ligne.dateDebut | date:'dd/MM/yyyy'}}
        <span *ngIf="ligne.dateFin"> - {{ligne.dateFin | date:'dd/MM/yyyy'}}</span>
        <span *ngIf="!ligne.dateFin"> - Aujourd'hui</span>
    </span>


    <span *ngIf="ligne.note" class="note">
        <fa-icon [icon]="(i < ligne.note) ? faStar : faStarEmpty" *ngFor="let i of [0,1,2,3,4]"></fa-icon>
    </span>
    <a *ngIf="ligne.lien" [href]="ligne.lien">
        <span>{{ligne.contenu}}</span>
    </a>
    <span *ngIf="!ligne.lien">{{ligne.contenu}}</span>
</li>

<li *ngIf="ligne.image" class="image" style="background-image: url('{{ligne.image}}');">
    <a *ngIf="ligne.lien" [href]="ligne.lien">
        <div>
            <span *ngIf="ligne.note" class="note">
                <i class="bi{{ (i <= ligne.note) ? ' bi-heart-fill' : ( i <= (ligne.note + 0.5) ? ' bi-heart-half' : ' bi-heart') }}" *ngFor="let i of [0,1,2,3,4]"></i>
            </span>
        
            <span>{{ligne.contenu}}</span>
        </div>
    </a>

    <div *ngIf="!ligne.lien">
        <span *ngIf="ligne.note" class="note">
            <i class="bi{{ (i <= ligne.note) ? ' bi-heart-fill' : ( i <= (ligne.note + 0.5) ? ' bi-heart-half' : ' bi-heart') }}" *ngFor="let i of [1,2,3,4,5]"></i>
        </span>
    
        <span>{{ligne.contenu}}</span>
    </div>
</li>