@import '../../../../variables.scss';

li {
    margin-bottom : $espace-items;
    font-size: 1.3rem;

    span.date {
        color: orange;
        float: right;
    }

    span.note {
        font-size: 1.5rem;
        margin-left: 1vw;
        margin-right: 1vw;

        color: red;

        & > * {
            margin-right: 0.2vw;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.image {
        position: relative;
        width : auto;
        height: 30vh;

        margin-bottom : $espace-items/2;
    
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    
        padding: 0;
    
        &:hover * {
            opacity: 1;
        }
    
        * {
            opacity: 0;
            transition: opacity 0.5s;
        } 
    
        div {
            height: 100%;
            width: 100%;
            background-color: $main-backround-color;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
        }
    
        span:last-child {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
        }
    }
}