<section id="{{categorie.libelle | slug}}" class="categorie {{sousCategorie ? 'sous-categorie' : ''}}">
    <h2 *ngIf="!sousCategorie" class="categorie-title">{{categorie.libelle}}</h2>
    <h3 *ngIf="sousCategorie" class="categorie-title">{{categorie.libelle}}</h3>

    <div class="categorie-content">
        <ul class="categorie-liste" [class]="(categorie.imageCategorie) ? 'icon-liste row' : ''">
            <app-ligne *ngFor="let ligne of categorie.lignes" [ligne]="ligne" [class]="(categorie.imageCategorie) ? 'col-12 col-md-6 col-lg-4' : ''"></app-ligne>
        
            <li *ngFor="let enfant of categorie.enfants">
                <app-categorie [categorie]="enfant" [sousCategorie]="true"></app-categorie>
            </li>
        </ul>
    </div>
</section>