@import '../../../variables.scss';

ul.categorie-liste {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

ul.icon-liste {
    list-style-type: none;
    padding: 0;
}

section {
    & > h2.categorie-title {
        text-align: center;
        margin-top : $espace-titre;
    }

    &.categorie {
        border-top : 1px solid #CCC;
        min-height : $min-hauteur-categorie;
        margin-left : 2vw;
        margin-right : 2vw;

        ul.categorie-liste {
            list-style-type: none;
            padding: 0;
            width: 100%;
        }

        #identite address {
            font-size: 1.2rem;
        }

        & > div.categorie-content {
            min-height: $min-hauteur-categorie;
            width : 100%;
            display: flex;
            justify-content: center;
            align-items: baseline;
            flex-direction: column;
        }

        &.sous-categorie {
            border-top: none;
            margin-left : 4vw;

            &>h3 {
                text-align: center;
            }

            ul {

                &.categorie-liste {
                    margin-top: 2vh;
                    padding-left : 3vw;
                }

                &.icon-liste {
                    list-style-type: none;
                    padding: 0;

                    & > li {
                        display: inline;

                        & > img {
                            width : auto;
                            height: 10vh;
                            filter : grayscale(100%);
                            transition: filter .3s;

                            &:hover {
                                filter : grayscale(0%);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {

}