$espace-items: 5vh;
$espace-titre: 2.5rem;
$nav-background-color: antiquewhite;
$main-backround-color: azure;
$active-color: rgb(102, 194, 224);
$active-underline-color: rgb(62, 192, 62);
$min-hauteur-categorie: 70vh;