$espace-items: 5vh;
$espace-titre: 2.5rem;
$nav-background-color: rgb(250, 235, 215);
$main-backround-color: white;
$active-color: rgb(102, 194, 224);
$active-underline-color: rgb(62, 192, 62);
$min-hauteur-categorie: 70vh;
$loading-color: grey;
$date-color: rgb(255, 72, 0);