<section>
    <h2>Liste des catégories/lignes </h2>
    <!-- Define the recursive template. -->
    <ng-template #categorieTemplateRef let-categorie="categorie">
        <ul>
            <li class="categorie">
                <span>{{ categorie.libelle }}</span>
                <div class="actions">
                    <div class="point" [class.active]="categorie.active" [categorie]="categorie" (click)="toggleActiveCategorie(categorie)"></div>
                    <a [categorie]="categorie" (click)="deleteCategorie(categorie)">&times;</a>
                </div>
            </li>

            <ul>
                <li *ngFor="let ligne of categorie.lignes" class="ligne">
                    <span>{{ ligne.contenu }}</span>
                    <div class="actions">
                        <div class="point" [class.active]="ligne.active" [ligne]="ligne" (click)="toggleActiveLigne(ligne)"></div>
                        <a [ligne]="ligne" (click)="deleteLigne(ligne)">&times;</a>
                    </div>
                </li>
            </ul>

            <ng-container *ngIf="categorie.enfants.length > 0">
                <ng-template ngFor let-enfant [ngForOf]="categorie.enfants">
                    <!-- Invoke the recursive template. -->
                    <ng-template
                        [ngTemplateOutlet]="categorieTemplateRef"
                        [ngTemplateOutletContext]="{ categorie: enfant }">
                    </ng-template>
                </ng-template>
            </ng-container>
        </ul>
    </ng-template>

    <!-- Initiate the recursive template rendering. -->
    <ng-template *ngFor="let categorie of categories"
        [ngTemplateOutlet]="categorieTemplateRef"
        [ngTemplateOutletContext]="{ categorie: categorie }">
    </ng-template>
</section>