@import '../variables.scss';

h2 {
    text-align: center;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.categorie {
        font-size: 1.2rem;
        font-weight: 600;
    }

    &:hover {
        background-color: lighten($bg,10%);
    }
}

.actions {
    display: flex;
    align-items: center;

    & > * {
        margin-right: 1vw;

        &:last-child {
            margin-right: 0;
        }
    }

    .point {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: red;
        display: inline-block;

        cursor: pointer;

        &.active {
            background-color: green;
        }
    }

    a {
        font-size: 15pt;
        cursor: pointer;
        color: $item;

        &:hover {
            color: darken($item, 50%);
        }
    }
}


#refresh {
    float: right;

    i {
        display: inline-block;

        &.rotating {
            animation: tourne;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes tourne {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}